---

- name: Copy binary to host
  ansible.windows.win_copy:
    src: files/qga-ballooning.exe
    dest: C:\windows\system32\

- name: Run executable
  ansible.windows.win_command: C:\windows\system32\qga-ballooning.exe

